*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 400 1rem 'Roboto', sans-serif;
}

:root{
  --twitter-blue: #1da1f2;
}

body{
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}

button{
  cursor: pointer;
}

a{
  color: inherit;
}


/* Timline */

